/* src/pages/Home.css */

card {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;    
}

.card h2 {
    margin: 0 0 15px;
    font-size: 1.2em;
    color: #0056b3;
    border-bottom: 2px solid #eee;
    padding-bottom: 8px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.dashboard-button {
    background-color: #f0f0f0;
    color: rgb(20, 6, 217);
    border: #0000f5;
    padding: 16px 24px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
    text-align: center;

}

.dashboard-button:hover {
    background-color: #004099;
}
