/* src/pages/Home.css */

.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.dashboard-button {
    background-color: #f0f0f0;
    color: rgb(20, 6, 217);
    border: #0000f5;
    padding: 16px 24px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
    text-align: center;

}

.dashboard-button:hover {
    background-color: #004099;
}
